<template>
  <v-app>
    
    <router-view/>
  </v-app>
</template>

<script>
export default {
  name: "App",
  data: () => ({
    //
  })
};
</script>
<style>
*{
  font-size: 12px;
  font-family: 'museo-sans',arial,sans-serif;
}
span{
      color: rgb(0 0 0 / 70%);
}
</style>
